<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.CattleSense"
      tools:targetApi="31">
    <activity
        android:name=".ui.activity.FarmOverviewActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.InseminationActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.DiseasesActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.VaccinationActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.HeatInfoActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.DeathRecordActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.WeightTrackerActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.MilkProductionActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.FarmInspectionActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.AddIncomeActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.AddExpenseActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.AddFarmInfoActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.CattleHealthActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.CattleInfoActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.FarmInfoActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.MainActivity"
        android:exported="false" />
    <activity
        android:name=".ui.activity.LoginActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>